form(method="POST", action="/wine/add")
    p Name
        input(type="text", name="name")
    p Region
        input(type="text", name="region")
    p Location
        input(type="text", name="location")
    p Year
        input(type="number", name="year")
    p Delivery Date
            input(type="date", name="deliveryDate")
    p Base Price
        input(type="number", name="basePrice")
    p Sell Price
        input(type="number", name="sellPrice")
    p Supplier ID
        input(type="text", name="supplierID")
    p Amount
        input(type="number", name="amount")
    p Wein hinzufügen
        input(type="submit")

form(method="POST", action="/wine/update")
    p ID
        input(type="text", name="id")
    p Name
        input(type="text", name="name")
    p Region
        input(type="text", name="region")
    p Location
        input(type="text", name="location")
    p Year
        input(type="number", name="year")
    p Delivery Date
        input(type="date", name="deliveryDate")
    p Base Price
        input(type="number", name="basePrice")
    p Sell Price
        input(type="number", name="sellPrice")
    p Supplier ID
        input(type="text", name="supplierID")
    p Amount
        input(type="number", name="amount")
    p Wein updaten
        input(type="submit")